#container {
	width: 360px;
	height: 360px;
	border: solid 1px #000;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}
#container div {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #eee;
	margin: 10px;
}
.black {
	background-color: #000;
}
#msg {
	background-color: #c00;
	width: 200px;
	height: 200px;
}
